GROQ_API_KEY=
HF_TOKEN=
MISTRAL_API_KEY=

QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_NAME=meeting_transcript

HF_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
HF_EMBEDDING_BATCH_SIZE=32

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=ai-video-assistant
